body {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 14pt;
}

.navbar
{
    text-transform: capitalize;
}

.navbar .navbar-brand {
    font-size: 2em;
}

.main-greeting
{
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
}