body {
    background-color: #eee;
}

.container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}

h1, h2, h3 {
    margin-top: 1rem;
}

h1, h2 {
    text-align: center;
    border-bottom: black 1px solid;
}

h1 {
    font-size: 4rem;
}

img {
    max-width: 100%;
    max-height: 25rem;
}

a.buttonLink {
    padding: 3px 5px;
    margin: 0 5px;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

a.buttonLink:hover {
    background-color: #ddd;
    text-decoration: none;
}
