RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^$ index.php
RewriteRule ^career$ career.php
RewriteRule ^development$ development.php
RewriteRule ^volunteering$ volunteering.php
RewriteRule ^doodles$ doodles.php
Options -Indexes
