RewriteEngine on


# force http on production
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^dev\.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^$ index.php
RewriteRule ^career$ career.php
RewriteRule ^development$ development.php
RewriteRule ^volunteering$ volunteering.php
RewriteRule ^renderings$ renderings.php
Options -Indexes
