RewriteEngine on
RewriteRule ^$ index.php
RewriteRule ^career$ career.php
RewriteRule ^development$ development.php
RewriteRule ^volunteering$ volunteering.php
RewriteRule ^doodles$ doodles.php
RewriteRule ^login$ login.php
RewriteRule ^user$ user-settings.php
RewriteRule ^workout$ workout.php
RewriteRule ^workout/([0-9]+)$ workout.php?workout-id=$1
RewriteRule ^workout/([a-zA-Z]+)$ workout.php?redirect-page=$1
RewriteRule ^templates$ templates.php
RewriteRule ^exercises$ exercises.php
RewriteRule ^muscles$ muscles.php
RewriteRule ^measurements$ measurements.php
RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]
Options -Indexes
