{% include volunteering/index.html
title="CIRC - Canadian International Rover Competition"
img_src="circ.png"
img_alt="CIRC Judging"
isFirst=include.isFirst
isLast=include.isLast
content="
<p>
    The Canadian International Rover Challenge (CIRC) is an annual university rover competition held in Drumheller,
    Alberta, where student teams from around the world design and build rovers to take on Mars-like challenges in
    Alberta’s Badlands.
</p>
<p>
    I first volunteered with CIRC in 2025, serving as an assistant judge for one of the competition’s events.
    The experience gave me a new appreciation for the creativity, teamwork, and technical skill that go into the
    challenge.
</p>
<p>
    While I have not competed in CIRC myself, I have committed to supporting the organization as it continues to grow.
    I will be joining as an organizer in the future, with plans to help by building a dedicated volunteer portal
    website (similar to the one I created for my Stampede committee) and eventually contributing to the design of
    competition tasks.
</p>
"
%}
