{% include volunteering/index.html
title="Football Coaching - Dr. E.P. Scarlett High School"
img_src="img/Football_Coaching.jpg"
img_alt="Football Coaching"
isFirst=include.isFirst
isLast=include.isLast
content="
<p>
    Football was a big part of my high school years, and I truly valued my time on the field. Unfortunately, an injury
    ended my playing career — but it didn’t take away my passion for the game. Instead, I decided to give back by
    coaching, and the very team that once coached me welcomed me onto their staff.
</p>
<p>
    I began coaching in the fall of 2012, right after graduating from Dr. E.P. Scarlett High School in Calgary, where I
    had also played. I worked with the junior team (Grade 10 students), running practices every day after school for
    about an hour and a half. Over four seasons, I served three years as the Offensive Line Coach and one year as the
    Offensive Coordinator.
</p>
<p>
    In my very first year, we won the city championship for our division — a highlight I’ll never forget. I continued
    coaching until my university workload became too demanding to balance with the commitment, but my time on the
    sidelines remains one of my most rewarding experiences.
</p>
"
%}
