{% include volunteering/index.html
title="Calgary Stampede - DTA - Breakfast Committee"
img_src="Stampede_Breakfast.jpg"
img_alt="Stampede Breakfast"
isFirst=include.isFirst
isLast=include.isLast
content="
<p>
    The Calgary Stampede Breakfast Committee, part of the Downtown Attractions (DTA) Committee of the Calgary
    Stampede, is a volunteer group I’m proud to be a part of. I joined in 2017, following in the footsteps of my
    dad and brother, who were already members.
</p>
<p>
    In my second year, 2018, I was honored to receive our Above and Beyond Award for my dedication and contributions.
    Over the years, I’ve consistently put in 40–60 volunteer hours annually.
</p>
<p>
    In 2019, I built a volunteer portal for the committee, which has since been used by my committee and others on the
    DTA as a central platform for event and volunteer scheduling, registration, and coordination. This system continues
    to support our organization in keeping volunteers connected and events running smoothly.
</p>
<p>
    In 2025, I was invited to join our leadership team as the 3rd Vice Chair, an opportunity I’m excited to
    embrace as we continue to grow and evolve.
</p>
<p>
    Our work focuses on hosting pancake breakfasts both during Stampede and in the months leading up to it.
    For about two months before Stampede, we serve free breakfasts twice a week at local elementary schools.
    During Stampede, we provide corporate breakfasts for a fee — and since the Calgary Stampede is a non-profit, these
    events support our mission while keeping the spirit of community alive.
</p>
"%}
