<h1>Cody Fulford</h1>

<div class="text-center mb-3">
    <a href="https://www.linkedin.com/in/codyfulford/" class="btn btn-primary">
        <i class="fab fa-linkedin"></i>
        Linkedin
    </a>
    <a href="https://github.com/CJFulford" class="btn btn-primary">
        <i class="fab fa-github"></i>
        Github
    </a>
</div>

<div class="text-center mb-3">
    <a href="/" class="btn btn-secondary">Home</a>
    <a href="/career.html" class="btn btn-secondary">Projects</a>
    <a href="/volunteering.html" class="btn btn-secondary">Volunteering</a>
</div>
